.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 150px;
}

.container__h2 {
    min-width: 20px;
    padding-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
}